@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Nunito&family=Roboto:wght@100;400;900&family=Sedgwick+Ave+Display&family=Teko:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(13, 1, 29);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Teko, sans-serif;
  color: white;
  font-size: 16rem;
  font-weight: 100;
}